body {
    background-color: #363636;
    font-family: 'Roboto', sans-serif;
}

.logo {
    margin: -10px;
}

.active {
    color: blue;
}

.inactive {
    color: white;
}

.nav-link{
    color: #d6d6d6 !important;
}

.nav-link:hover{
    color: white !important;
}